<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <!-- <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/> -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

    <!--
      global scripts load
      jquery scripts must be loaded before bootstrap scripts
    -->
    <script src='/js/jquery-2.0.3.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/extend.js"></script>
		
		<script type="text/javascript">
		$(document).ready(function() {
			hideTemplates();
			
			var isTeacher = getCookie('isTeacher');
			isTeacher = (isTeacher && isTeacher!='false');
			var menu_cnt = isTeacher ? $("div#teacher_view").html() : $("#student_view").html();
			$("#menu-bar").append(menu_cnt);

      var userName = getCookie('userName');
      console.log('userName is '+userName);
      $("#menu-bar #my-name").text(userName);

      // reformat all the datetime to uniformed time format
      $(".china_time").each(function(index){
        console.log(JSON.stringify(this));
        var s = $(this).text();
        console.log("div mapping, index:"+index+', s:'+s);
        var f_s = Date.format(s, "Y/m/d H:i");
        $(this).text(f_s);
      });
		});
		
		function hideTemplates () {
			$(".menu_template").hide();
		}
		
		function getCookie(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
			}
			return null;
		}
		</script>

  </head>

  <body>
		
		<!-- teacher menu bar -->
		<div id="teacher_view" class="menu_template">
      <ul class="nav navbar-nav">
        <li><a href="/user/my" id="my-name">My Page</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/class/index/following">Following</a></li>
            <li><a href="/class/index/past">Past</a></li>
          </ul>
        </li>
        <li><a href="/definition">Definitions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/user?type=1">Student</a></li>
            <li><a href="/user?type=2">Teacher</a></li>
            <li><a href="/register/new">Register</a></li>
            <li><a href="/register">Register List</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Charge <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/charge/new">New</a></li>
            <li><a href="/charge">List</a></li>
          </ul>
        </li>
      </ul>
		</div>
		
		<!-- student menu bar -->
		<div id="student_view" class="menu_template">
      <ul class="nav navbar-nav">
        <li><a href="/user/my" id="my-name">My Page</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Classes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/attendance/my/following">Following</a></li>
            <li><a href="/attendance/my/past">Past</a></li>
          </ul>
        </li>
        <li><a href="/charge/my">Charge History</a></li>
      </ul>
		</div>

		<div class="container">
		    <!-- top menu bar -->
		    <nav class="navbar navbar-default" role="navigation">
		      <div class="container-fluid">
		        <div class="navbar-header" id="menu-bar">
		          <a class="navbar-brand" href="/">Infinity Education</a>
		        </div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
				        <li><a href="/logout">logout</a></li>
				      </ul>
						</div>
		      </div>
		    </nav>
		</div> <!-- container	-->
		
    <div class="container">
      <!-- Include the view file for the current controller/route -->
  		<%- body %>
    </div>
		
    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
		<script type="text/javascript">
			// add colors for each status
			$(".classStatus[value=0]").addClass("label label-warning");		// init
			$(".classStatus[value=1]").addClass("label label-info");			// pending
			$(".classStatus[value=2]").addClass("label label-success");		// confirmed
			$(".classStatus[value=3]").addClass("label label-default");		// finished
	
			// add colors for student replies
			$(".classReply[value=0]").addClass("label label-info");
			$(".classReply[value=1]").addClass("label label-success");
			$(".classReply[value=2]").addClass("label label-danger");
		</script>
</html>
