<h1>Edit Photo</h1>

<form role="form" id="userForm" action="/user/updatePhoto" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="photo">Upload Your New photo (300x300 px)</label><br>
		<input id="photo" name="photo" type="file" accept="image/*" required>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
</form>