.personal-img {
	float: left;
	margin-left: 20px;
}
.personal-img img {
/*	width: 300px;*/
	height: 300px;
}

.personal-info {
/*	float: left;*/
/*	position: relative;*/
	margin-top: 10px;
	margin-left: 350px;
}
.personal-info table {
	font-size: 1.5em;
}

.personal-desc {
	margin-top: 10px;
	font-size: 1.3em;
}